.body {
    background-image: url("../Images/sea.jpg") ;
    background-repeat: no-repeat ;
    background-position: center ;
    background-attachment: fixed ;
    background-size:100% 100% ;
}

.zagolovok {
	display: flex;
	color: #fcfcfc;

	font-family: Comic Sans MS;
	justify-content: center;
	border: 2px solid #0988e3;
	border-radius:45px;
	background-color: #0988e3;
   	width: 70%;
	height: 59px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;

	box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 10px 8px 11px 3px rgba(0,0,0,0);
}
.ul-pos {
	display: flex;
	width: 80%;
	margin-left:auto;
	margin-right: auto;
	justify-content: center;
}

.block-menu {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.menu { 
	display: inline-block;
	height: 40px;
	width: 230px;
	text-align: center;
	font-family: Comic Sans MS;
    padding-top:10px;
	border: 2px solid #07eded;
	border-radius:45px;
	background-color: #07eded;
    margin-left:5px;
    margin-right: 5px;
    z-index:4;
	font-size: 20px;
	box-shadow: 0px 10px 13px -7px #000000, 10px 8px 11px 3px rgba(0,0,0,0);
}

.menu:hover {
	box-shadow: 0px 0px 10px 3px #07eded;

}

.menu:hover>.vis {
	color: red;
}

.sub-menu>li:hover .vis {
	color: red;
}
.menu:active {
	box-shadow: inset 0px 0px 2px 2px #3a3a3a;
}

.sub-menu {
	display: none;

}



li:hover>.sub-menu{
	display:flex;
    flex-direction: column;	
 	list-style-type:none;
	margin-top:10px;
	margin-left:-45px;
	padding-left: -45px;
}


.a-underline{
	text-decoration: none;
	color: blue;

}
 
  [type=submit] {
	
	font-family: Comic Sans MS;
	font-size: 25px;
	color: white;
	width:  90%;
	height: 100px;

	background-color: #0988e3;
	border-bottom-color: #0988e3;
	border-radius: 50px;
	margin-left: 5%;	
}

[type=submit]:hover {
	box-shadow: 0px 0px 10px 3px #075AF4;
}

[type=submit]:active {
	box-shadow: inset 0px 0px 2px 2px #3a3a3a;
}

 input {
	font-family: Comic Sans MS;
	font-size: 25px;
	color: red;
	width:  81%;
	height: 50px;
	text-align: cetnter;
	text
	text-color: white;
	background-color: white;
	border-bottom-color: #0216F9;
	border-radius: 25px;
	margin-left: 5%;
    padding-left: 5%;
}

.form {
    margin-left: 30%;
	color:  #0216F9;
	font-family: Comic Sans MS;
	font-size: 25px;
    padding: 20px;
	width:  40%;
	border-bottom-color: #0216F9;
	border-radius: 25px;
	background-color: rgba(188, 230, 225, 1);
	box-shadow: 10px 8px 11px 3px #000000;
}

.block {
	display: none;
}

.block:target {
	display: block;
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity: 0.5;
	background-color: gray;
	margin:0px;
z-index: 8;
}


.autoreg{
    display: none;
}	
.block:target+.autoreg {
    display: block;
	position: fixed;
	top:55px;
	left:55px;
	right:55px;
	bottom:55px;
	box-shadow: 2px 0 1 1px black; 
	z-index:9;
}


.continer{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;	
	color: #0A0B74;
	font-size: 20px;
	font-family: Comic Sans MS;
	width:60%;

	
}


	

.flex-text,.contacts {
	display: block;
	margin: 10px 20px 20px; 
	padding: 10px 20px 20px;
	border-radius: 25px;
	background-color: rgba(188, 230, 225, 0.65);
	height:20%;
	box-shadow: 10px 8px 11px 3px #000000;
	
}

	

 #img2, #img3, #img4 {
	display: none;
}

#img1 {
	display:block;
}

#w1:target ~ #img2,
#w1:target ~ #img3,
#w1:target ~ #img4, 
#w2:target ~ #img1,
#w2:target ~ #img3,
#w2:target ~ #img4,
#w3:target ~ #img1,
#w3:target ~ #img2,
#w3:target ~ #img4,
#w4:target ~ #img1,
#w4:target ~ #img2,
#w4:target ~ #img3 {
	display: none;
}
#w1:target ~ #img1,
#w2:target ~ #img2,
#w3:target ~ #img3,
#w4:target ~ #img4 {
	display:block;
}

.slider {
	display: flex;
	position: relative;
	justify-content: center;	
	width: 70%;
	height: 70vh;
	margin-left:auto;	
    margin-right:auto;
	
}
.slider-item {
	
	border-radius: 25px;
	box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 10px 8px 11px 3px rgba(0,0,0,0);
	width: 100%;
	height: 100%;
	
}

.slide-bar {
	position: absolute;
	width: 100%;
	bottom: 10px;
	display: flex;
	justify-content: center;
	z-index:6;
}

.slide-bar .button {
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #0216f9;
}

.slide-bar .button:hover {
	box-shadow: 0px 0px 10px 3px #075AF4;
}

.slide-bar .button:active {
	box-shadow: inset 0px 0px 2px 2px #3a3a3a;
}

.slider__text {
	display: block;
	width:30%;
	position: absolute;
	margin: 0px;
	padding: 0px;
	left: 20px;
	top:10px;
	color: yellow;
	font-size: 60px;
	font-family: Comic Sans MS;
	transform: rotate(-30deg);
	line-height:60px;


	
}


.flex-row {
	display: flex;
	 height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.flex-column {
	display: flex;
	flex-direction: column;
	padding-bottom: 1%;


}
.border {
	border-radius: 16px;

}

.flex-1 {
	flex: 1; 
	padding-bottom: 20px;
	padding-top:20px;
	
}

.flex-2 {
	flex: 2; 
	padding-bottom: 20px;
	padding-top:20px;
	width:80%;

}
.flex-4 {
	flex: 4; 	
	padding-bottom: 95px;
	padding-top:95px; 
}

.blue {
	background-color: rgba(188, 230, 225, 0.85);
	
}

div {
	margin: 1%;
}
.text {
	color: #0A0B74;
	font-size: 20px;
	font-family: Comic Sans MS;
	text-align: center;	
	


} 
.red {
	color: red;
	
}

.divv {

	width: 75%;	
	margin-left: auto;
	margin-right: auto;
	height: 80vh;
	
}
.shadow {
	box-shadow: 10px 8px 11px 3px #000;
}

